/*

	Bourbon Neat Style Guide styles

*/

body.styleguide {
	position: relative;
}

.sg-container {
  @include outer-container;
}

.sg-banner {
	.wrap {
		@include span-columns(12);
		margin: 30px 0 30px;

		@include media($medium) {
		    @include span-columns(10);
		    @include shift(2);
		}
	}
}

.sg-menu {
	@include span-columns(12);

	@include media($medium) {
	    @include span-columns(1);
	    position: fixed;
	}

	a { display: inline-block; }
}

.sg-main {
	@include span-columns(12);

	@include media($medium) {
	    @include span-columns(10);
	    @include shift(2);
	}

	h4[id^="*"], aside h4[id^="*"] {
		display: block;
		font-size: 22px !important;
	}
}

.sg-header {
	margin: 30px 0 30px;
	padding: 13px 0 10px 0;
	border-top: 1px dashed #bbb;
	border-bottom: 1px dashed #bbb;
	h5 {
		margin: 0;
		padding: 0;
		font-size: 14px;
		line-height: 1;
		font-weight: bold;
		color: #888;
		text-transform: uppercase;

		a {
			font-weight: bold;
			display: inline-block;
			padding: 0 5px;
			text-decoration: none;
			color: #bbb;

			&:hover {
				color: $link-color;
			}
		}
	}
}

.sg-swatches {
	@include clearfix(); // Bourbon mixin
	margin-left: -20px;
}

.sg-swatch {
	float: left;
	border: 1px solid $gray-light;
	background: #fff;
	width: 173px;
	margin: 0 0 20px 20px;
	padding: 5px;

	.sg-color {
		display: block;
		width: 100%;
		height: 130px;
		padding: 4px;
		margin-bottom: 4px;
	}

	.sg-label {
		padding: 4px;
		font-size: 15px;
		line-height: 1;
	}
}

.sg-no-margin {
	margin: 0;
}

h1.sg-no-margin,
h2.sg-no-margin,
h3.sg-no-margin,
h4.sg-no-margin,
h5.sg-no-margin {
	margin-bottom: 10px
}

.sg-quiet {
	color: #8f8f8f;
}