/*

  Grid is used to define common grid components for the project.



*/

/* Breakpoints - Mobile First Method */
$custom: new-breakpoint(min-width 320px);   /* Custom, iPhone Retina */
$xsmall: new-breakpoint(min-width 480px); /* Extra Small Devices, Phones */
$small: new-breakpoint(min-width 768px);  /* Small Devices, Tablets */
$medium: new-breakpoint(min-width 992px); /* Medium Devices, Desktops */
$large: new-breakpoint(min-width 1200px); /* Large Devices, Wide Screens */
$xlarge: new-breakpoint(min-width 1400px);  /* X-Large Devices, Wide Screens */

/* Grid / Layout */
.container {
	@include outer-container;
	padding-right: 15px;
	padding-left: 15px;

	@include media($small) { max-width: 750px; }

	@include media($medium) {  max-width: 970px; }

	@include media($large) { max-width: 1170px; }
}

.row { @include row(); }


/* Construct .col-1.. helper classes */
@for $i from 1 through $grid-columns {
  .col-#{$i} {
	   @include span-columns($i);
  }
}

/* Construct .shift-1.. helper classes */
@for $i from 1 through $grid-columns {
  .shift-#{$i} {
      @include shift($i);
  }
}

/* reusable/precomposed columns with responsive behavior */
/* col-@min-@med-@max */
.col-12-3 {
  @include span-columns(12);

  @include media($small) {
      @include span-columns(3);
  }
}