/* Bourbon global base for em() and rem() */
$em-base: $font-size-base !global;

/* Neat Grid */
$max-width: em(1170px) !global;
$grid-columns: 12 !global;
// $visual-grid: true !global;

$disable-warnings: true !global;